* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 20px 0;
}

.title {
font-family: Arial,sans-serif;
    font-size: 35px;
}

.main {
    margin-top: 150px;
}